.navbar-brand {
  width: 210px;
  background: url(/img/brand.png);
  background-size: auto 50px;
  background-repeat: no-repeat;

  // Hide the text.
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
